*{
    font-family: 'Comforter Brush', cursive;
    text-align: center;
}
body{
    background: url("TresureHunter2.png");
}
.pirate{
    transition: 1s;
    top: 40px;
    left: 70px;
    position: absolute;
    width: 50px;
    pointer-events: none;
}
h1{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    font-size: 60px;
}
h2{
    box-shadow: 0px 10px 15px rgba(41, 40, 40, 0.438);
    border-radius: 20px;
    padding: 5px 15px;
    display: inline-block;
    background: white;
    height: 60px;
    font-size: 40px;
    /* vertical-align: top; */
}
.background{
    position: relative;
    margin: auto;
    height: 500px;
    width: 500px;
}
.map{
    height: 100%;
    width: 100%;
}